<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <title><%= title || "Porirua Club" %></title>
</head>
<body class="pc-theme">

  <%- include('partials/header') %>

  <main style="padding: 20px;">
    <%- body %>
  </main>

</body>
</html>


