<!DOCTYPE html>
<html>
<head>
  <html><link rel="stylesheet" href="/css/main.css">
  <title>Login</title>
</head>
<body>
  <h1>Staff Login</h1>

  <form method="POST" action="/login">
    <label>Username:
      <input type="text" name="username" required>
    </label><br>

    <label>Password:
      <input type="password" name="password" required>
    </label><br>

    <button type="submit">Login</button>
  </form>

  <p>Don’t have an account? <a href="/register">Register here</a></p>
</body>
</html>
